*.DS_Store
*.scssc
*.sublime-*
.bundle
.config
.grunt
.idea
.sass-cache/*
bower_components
pkg
test/
test/.sass-cache/*
test/css
test/css/styles.css
*.orig
node_modules
docs/public/*
*.scssc
.settings
.project
tmp
client/*.mp3