$namsepace: false;

// Color settings
$dark-color: #2c2c2c;
$light-green: #cffb00;
$orange-color: #f7981c;
$player-orange: #ffa900;
$font-color: #fff;
$gray-color: #f4f5f6;

// header setting
$headr-color: $dark-color;


//body settings
$body-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;
$body-font-color: $font-color;

//grid
// $block-grid-default-spacing: rem-calc(30);
// $column-gutter: rem-calc(30);
