.main-header{
  background: $headr-color;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(10);
  border-bottom: 3px solid $orange-color;
}

.title.logo h1{
  text-indent: -99999999px;
  background: url('../img/pi_logo.png');
  background-repeat: no-repeat;
}
