.now-playing{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;

    .artist-details{
      background-color: #25202b;
      background-color: rgba(37, 32, 43, 0.83);
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
    }

    .song-details{
      .album-art img{
        width: 100px;
        height: 100px;
      }
    }

    .song-details,
    .artist-name,
    .album-details{
      .title{
        color: $font-color;
        font-weight: 500;
      }
    }

    .progressbar{
      position: relative;
      .progress{
        padding: 0;
        background-color: #373634;
        border: none;
        margin-bottom: 0;

        .current-time,
        .song-time{
          position: absolute;
          position: absolute;
          top: 3px;
          font-size: 11px;
        }

        .song-time{
          right: 12px;
        }

        .current-time{
          left: 12px;
        }
      }
    }
}
